#!/bin/sh

# Path
export PATH="bin:$PATH"


# Language
export LANG="en_GB.UTF-8"


# Editor
export EDITOR='vim'


# SSH Keys
export SSH_KEY_PATH="$HOME/.ssh/dsa_id"


# Go
export GOPATH=~/go
export PATH="$PATH:$GOPATH/bin"

# Packer
if [ -f "$HOME/.packer/packer" ]; then
  export PATH="$HOME/.packer:$PATH"
fi

# Cargo
if [ -f "$HOME/.cargo/bin" ]; then
  export PATH="$HOME/.cargo/bin:$PATH"
fi
