# Path
if [[ -d /opt/boxen ]]; then
    export PATH="/opt/boxen/bin:$PATH"
fi

if [[ -d /opt/boxen/homebrew ]]; then
    export PATH="/opt/boxen/homebrew/bin:$PATH"
    export PATH="/opt/boxen/homebrew/sbin:$PATH"
fi

export PATH="bin:$PATH"


# Language
export LANG="en_GB.UTF-8"


# Editor
export EDITOR='vim'


# SSH Keys
export SSH_KEY_PATH="$HOME/.ssh/dsa_id"


# Boxen
if [[ -f /opt/boxen/env.sh ]]; then
    /opt/boxen/env.sh
fi


# Go
export PATH=$PATH:/usr/local/go/bin
export GOPATH=~/.go/

# Otto
if [[ -f /Users/iszak/.otto/otto ]]; then
    export PATH="/Users/iszak/.otto/:$PATH"
fi

# Packer
if [[ -f /Users/iszak/.packer/packer ]]; then
    export PATH="/Users/iszak/.packer/:$PATH"
fi

if [[ -f /opt/boxen/packer ]]; then
    export PATH="/opt/boxen/packer:$PATH"
fi
