#!/bin/sh

# Path
export PATH="bin:$PATH"


# Language
export LANG="en_GB.UTF-8"


# Editor
export EDITOR='vim'


# SSH Keys
export SSH_KEY_PATH="$HOME/.ssh/dsa_id"


# Go
export PATH=$PATH:/usr/local/go/bin
export GOPATH=~/.go/

# Otto
if [ -f "$HOME/.otto/otto" ]; then
    export PATH="$HOME/.otto:$PATH"
fi

# Packer
if [ -f "$HOME/.packer/packer" ]; then
    export PATH="$HOME/.packer:$PATH"
fi

# Concourse
if [ -f "$HOME/.concourse" ]; then
    export PATH="$HOME/.concourse:$PATH"
fi

# Cargo
if [ -f "$HOME/.cargo/bin" ]; then
    export PATH="$HOME/.cargo/bin:$PATH"
fi
