[user]
    name = Iszak Bryan
    email = iszak.bryan@gmail.com


[core]
    editor = /usr/local/bin/vim
    excludesfile = ~/.gitignore_global


[branch]
    autosetuprebase = always


[color]
    ui = true

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold


[alias]
    a   = add
    b   = branch
    c   = commit
    cl  = clone
    co  = checkout
    d   = diff
    f   = fetch
    l   = log
    p   = pull
    r   = reset
    rb  = rebase
    s   = status


[push]
    default = simple
